<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SkYIT Official Page">
    <meta name="keywords" content="Web Design, IT services with professional touch">
    <meta name="author" content="Ajiozi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyIT | Welcome to About</title>

    <link rel="shortcut icon" type="image/jpg" href="img/logo3.png"/>

     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     <script src="https://kit.fontawesome.com/5aa9262777.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen, projection" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="containerz">
            <div id="branding">
            <h1>
                <a href="/"><img src="/img/logo3.png"> <span class="highlight">SKYIT </span></a>
            </h1>
            </div>
            <nav>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul  class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>  
                    <li  class="current"><a href="/about">About</a></li>  
                    <li><a href="/services">services</a></li> 
                    <li><a href="/gallery">Gallery</a></li>   
                </ul>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li class="current"><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="gallery">Gallery</a></li>
            </ul>
        </div>
    </header>
   
    <div id ="clearance"></div>
    <div id="banner-area">
        <h2>WE ARE GIANT IN IT SERVICES</h2>
    </div>
    <div class="content-area">
        <div class="containerz">
            <div class="wrapper">
                <h2>SKYIT </h2>
                <p>Knwoledge is lke the natural beauty that us all around us. It is always there but we sometimes need to find it and to communicate it to others who can share its value and enhance our lives. SkyIT believes that "Information and Communication Technology" is the Technology of the people and it should be available to all, to improve and enrich lives.  It should help generate income, improve flexibility in the work place, and improve social understanding at a price and speed; this makes ICT the Technology of choice</p>
                <p>SkyIT has the ability to access the needs of clinets and to tailor a program of tuintion that exactly meet the needs of our clients.</p>
            </div>
            
        </div>
       
        <section id="main">
            <div class="containerz">
                <article id="main-col2">
                    <h1 id="title2">About Us</h1>
                    <p>SkyIT is one of the ICT leading firm in Nigeria.  SkyIT has developed and impleted solutions or different ICT challenges.<br> 
                    At SkyIT we have a well interlay of plans for ICt and trained IT Engineers to deliver the required knowledge to consumers.
                    Our portfolio of services inlude Designing and deploying Disaster recovery and Business continuity solutions, Apps and managed Security Services
                    We pride ourselves in the development of smart embedded systems for Instrumentation and control Engineering works.
                    We have over 14 years experience on Networking, Website and Apps development, Computer repairs VSAT instllation, CCTV cameras sales and Installation and corporate training programms.</p>
                    <div class="dark">
                        <div id="float"><h5>Our Core Values</h5></div>
                        <ol>
                            <li>
                                <h4>RELIABILITY</h4>
                                <P>Reliabiloity is a commitment we make to our customers.  It means confidence.  It means assurance</P>
                            </li>
                            <li>
                                <h4>QUALITY</h4>
                                <P>Our approach is simple - we refuse to compromise when it comes to quality.  We pride ourselves on the high quality of our customer service.  This means that we have control over quality at all stages of the services and training that we render.</P>
                            </li>
                            <li>
                                <h4>PEOPLE</h4>
                                <P>SkyIT is run by people operating technology.  We recognize the value of a strong, reliable team in order to operate smoothly.  We dedicated workforce with tase for high standards of service and deliverable.  This means that we are always available for unlimited quesstions of concern.  Undoubtedly, we put customer's satsfaction first.  We listen, and then we work to find solutions.</P>
                            </li>
                            <li>
                                <h4>EFFICIENCY</h4>
                                <P>Efficinecy means many things at SkyIT.  It means a streamlined Training process in which quality is controlled with meticulous attention to detail.  It reveals that by virtue of our principle, we are available to address your questions and concerns - quickly and with expert knowledge.</P>
                            </li>
                        </ol>
                       
                    </div>  
                </article>
                <aside id="sidebar">
                    <div class="dark">
                        <h4>Our Vision</h4>
                        <p>Our vision is to make Africa the hub of information Technology (IT) though human resource develokment, economic activity generation, IT education, outsourcing and infrastructure development.</p><br>
                        <h4>Our Mision</h4>
                        <p>Our MIssion is to "develop IT has a major sphere of ecenomic activity, and promote its use in the public and private sectors for increasing efficiney and competitiveness".</p>
                    </div>
                </aside>
            </div>
        </section>      
        <div class="social-media">
            <ul>
                <li><a href="https://www.twitter.com/skyIT/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://web.facebook.com/SkyIT-157943760991439" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/skyit_ltd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li>
                <a href="whatsapp://send?text=Hi, I'd love to know more about your service, I am reaching you from your official webpage!&phone=+2349074444140" target="_blank">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
              </li>
          </ul>
           </div>
        <a href="#" class="to-top"><i class="fas fa-angle-double-up"></i></a>

         <footer id="service" class="page-footer light-blue darken-1">
            <div class="container">
            <div class="row">
                <div class="sep"></div>
                <div class="col l6 s12">
                <h5 class="yellow-text">Visit us:</h5><br>
                <span class="grey-text text-lighten-4">
                    <h6 class="black-text">Head Office</h6>
                    #33 Hospital/Jakpa Road, <br>
                    Ekpan, Delta State,<br>
                    Nigeria.<br>
                </span>
                </div>
                <div class="col l4 offset-l2 s12">
                <h5 class="yellow-text">Call Lines</h5><br>
                <ul><br>
                    <li class="white-text">+234-9135396292</li>
                    <li class="white-text">+234-9074444140</li>
                    <li class="white-text">+234-8030689585</li>
                    <li class="white-text">+234-8064107055</li>
                </ul>
                </div>
            </div>
            </div>
            <div class="footer-copyright center">
            <div class="container">
                skyIT Ventures Limited, Copyright &copy; 1995 - 2020
            </div>
            </div>
      </footer>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/skyit.js"></script>
</body>
</html> 