<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SkYIT Official Page">
    <meta name="keywords" content="Web Design, IT services with professional touch">
    <meta name="author" content="Ajiozi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyIT | Welcome to About</title>

    <link rel="shortcut icon" type="image/jpg" href="img/logo3.png"/>

     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     <script src="https://kit.fontawesome.com/5aa9262777.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen, projection" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="containerz">
            <div id="branding">
            <h1>
                <a href="/"><img src="/img/logo3.png"> <span class="highlight">SKYIT </span></a>
            </h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>  
                    <li  class="current"><a href="/about">About</a></li>  
                    <li><a href="/services">services</a></li> 
                    <li><a href="/gallery">Gallery</a></li>   
                </ul>
            </nav>
        </div>
    </header>
   
    <div id ="clearance"></div>
    <div id="banner-area">
        <h2>WE ARE GIANT IN IT SERVICES</h2>
    </div>
    <div class="content-area">
        <div class="containerz">
            <div class="wrapper">
                <h2>SKYIT </h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit harum officiis voluptatem! Recusandae similique alias ratione, eius praesentium culpa illo nemo consequatur sit dolorum numquam veritatis cumque eligendi explicabo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, culpa maiores illo sit ratione neque officia. Magni quod totam excepturi! Eos, porro! Deserunt porro mollitia error! Eos ratione beatae ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nemo repudiandae officia praesentium. Ipsam, laborum! Sint iusto earum reprehenderit praesentium enim excepturi omnis voluptatibus ducimus, a alias modi, atque possimus? jobs@finessecodes.com</p>
            </div>
            
        </div>
       
        <section id="main">
            <div class="containerz">
                <article id="main-col2">
                    <h1 id="title2">About Us</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis placeat animi dicta laborum vel rerum eum distinctio ab veritatis? Sequi eius minima neque non, molestias molestiae assumenda eveniet excepturi.</p>
                    <div class="dark">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum possimus illo consequatur, perspiciatis velit molestias inventore laudantium iusto consequuntur aliquid voluptatum? Iure eveniet aut quae corrupti. Ab tempora ullam vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ab quam architecto dolorum modi praesentium sapiente ea sint, id asperiores deleniti est aliquam at dolor debitis. Est similique sint non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam illo porro repellat dolorum consectetur temporibus quasi error atque laborum facilis? Facere reprehenderit minima officiis voluptatem, magni a in architecto consequatur!</p>
                    </div>  
                </article>
                <aside id="sidebar">
                    <div class="dark">
                        <h3>What We Do</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta tempora qui deleniti quos, voluptates, dignissimos rerum ex deserunt numquam earum quasi impedit atque cum similique quaerat corrupti non placeat quibusdam.</p>
                    </div>
                </aside>
            </div>
        </section>      
        <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://web.facebook.com/SkyIT-157943760991439" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/skyit_ltd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
          </ul>
           </div>

        <a href="#" class="to-top"><i class="fas fa-angle-double-up"></i></a>

        <footer id="about">
            <p>skyIT Ventures Limited, Copyright &copy; 2020</p>
        </footer>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/skyit.js"></script>
</body>
</html> 