<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SkYIT Official Page">
    <meta name="keywords" content="Web Design, IT services with professional touch">
    <meta name="author" content="Ajiozi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyIT | Welcome</title>

     <link rel="shortcut icon" type="image/jpg" href="img/logo3.png"/>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     <script src="https://kit.fontawesome.com/5aa9262777.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen, projection" />

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    

</head>
<body>
    <header>
        <div class="containerz">
            <div id="branding">
              <h1>
                <a href="/"><img src="/img/logo3.png"> <span class="highlight">SKYIT </span></a>
            </h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/index">Home</a></li>  
                    <li><a href="/about">About</a></li>  
                    <li><a href="/services">services</a></li>  
                    <li><a href="/gallery">Gallery</a></li>  
                </ul>
            </nav>
        </div>
    </header>
    <div class="clearance"></div>
    <section id="showcase" class="section scrollspy banner-area">
            <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="img/showcase.png">
                    <div class="caption center-align">
                      <h3>We are Leader in IT service</h3>
                      <h5 class="light grey-text text-lighten-3">We Deploy State of the Art Technology</h5>
                    </div>
                  </li>
                  <li>
                    <img src="img/office.jpg"> 
                    <div class="caption left-align">
                      <h3>As a Software Company</h3>
                      <h5 class="light grey-text text-lighten-3">We give you good responsive software</h5>
                    </div>
                  </li>
                  <li>
                    <img src="img/office5.jpg"> 
                    <div class="caption right-align">
                      <h3>At SKYIT we keep things professional</h3>
                      <h5 class="light grey-text text-lighten-3">Customer Satisfaction is our goal</h5>
                    </div>
                  </li>
                  <li>
                    <img src="img/office3.jpg"> 
                    <div class="caption left-align">
                      <h3>Professionalism</h3>
                      <h5 class="light grey-text text-lighten-3">Is our Watch-Word</h5>
                    </div>
                  </li>
                </ul>
          </div>
    </section>

    <div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="img/bio_scan2.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Biometric<i class="material-icons right">more_vert</i></span>
                  <p><a href="/services">Learn More</a></p>
                </div>
                <div class="card-reveal">
                  
                  <span class="card-title blue-text text-darken-4">Biometric<i class="material-icons right">close</i></span>
                  <h5 class="back-text">We design custom biometric devices that meet your organisational need.  <p>We provide oriental services and technical support to ensure best customer experience and satisfaction</p></h5><hr>
                  <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>
                  
                </div>
            </div>              
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/img/install_cctv.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Camera Installation<i class="material-icons right">more_vert</i></span>
                  <p><a href="/services">Learn More</a></p>
                </div>
                <div class="card-reveal">

                  <span class="card-title blue-text text-darken-4">Camera Installation<i class="material-icons right">close</i></span>
                  <h5 class="back-text">We sale and install systems.  Our supply and installation chain and services are professionally driven.  <p>You would be happy doing business with us.</p></h5><hr>
                  <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>

                </div>
            </div>            
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/img/training3.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Corporate Training<i class="material-icons right">more_vert</i></span>
                  <p><a href="/services">Learn More</a></p>
                </div>
                <div class="card-reveal">

                  <span class="card-title blue-text text-darken-4">Corporate Training<i class="material-icons right">close</i></span>
                  <h5 class="back-text">We train all categories of workforce with state of the art facilities.<p>We provide professional training that span across all industries</p></h5><hr>
                  <p>Get <a href="/about">Details</a> by contacting our Training Team</p>
                </div>
              </div>           
        </div>

        
    </div>

    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/img/network2.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Computer Networking and Training<i class="material-icons right">more_vert</i></span>
                  <p><a href="/services">Learn More</a></p>
                </div>
                <div class="card-reveal">

                  <span class="card-title blue-text text-darken-4">Computer Networking and Training<i class="material-icons right">close</i></span>
                  <h5 class="back-text">We are professionals in computer networking for over 10 years. We serve the banking sector as well as mudium and large enterprise</p></h5><hr>
                  <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>

                </div>
            </div>              
        </div>
          
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/img/bim.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Building Information Management<i class="material-icons right">more_vert</i></span>
                  <p><a href="/services">Learn More</a></p>
                </div>
                <div class="card-reveal">

                   <span class="card-title blue-text text-darken-4">Building Information Management<i class="material-icons right">close</i></span>
                  <h5 class="back-text">We design building plan and help client manage building services.  We also build for clients and help make perfect furnishing </p></h5><hr>
                  <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>

                </div>
            </div>            
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/img/hotelMgt2.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Hotel Management System<i class="material-icons right">more_vert</i></span>
                  <p><a href="/services">Learn More</a></p>
                </div>
                <div class="card-reveal">

                   <span class="card-title blue-text text-darken-4">Hotel Management System<i class="material-icons right">close</i></span>
                  <h5 class="back-text">As leaders in the IT world we design, and build, Hotel Management System</p></h5><hr>
                  <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>
                </div>
              </div>           
        </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/tracking.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Car Tracking Systems<i class="material-icons right">more_vert</i></span>
                <p><a href="/services">Learn More</a></p>
              </div>
              <div class="card-reveal">

                <span class="card-title blue-text text-darken-4">Car Tracking<i class="material-icons right">close</i></span>
                <h5 class="back-text">We are professionals in computer networking for over 10 years. We serve the banking sector as well as mudium and large enterprise</p></h5><hr>
                <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>

              </div>
          </div>              
      </div>
        
      <div class="col s12 m4 l4">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/solar.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Solar Systems Installation<i class="material-icons right">more_vert</i></span>
                <p><a href="/services">Learn More</a></p>
              </div>
              <div class="card-reveal">

                 <span class="card-title blue-text text-darken-4">Solar System Installation<i class="material-icons right">close</i></span>
                <h5 class="back-text">We design building plan and help client manage building services.  We also build for clients and help make perfect furnishing </p></h5><hr>
                <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>

              </div>
          </div>            
      </div>
      <div class="col s12 m4 l4">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/access.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Access Control<i class="material-icons right">more_vert</i></span>
                <p><a href="/services">Learn More</a></p>
              </div>
              <div class="card-reveal">

                 <span class="card-title blue-text text-darken-4">Access Control System<i class="material-icons right">close</i></span>
                <h5 class="back-text">As leaders in the IT world we design, and build, Hotel Management System</p></h5><hr>
                <p>Get <a href="/about">Quote</a> by contacting our sales Team</p>
              </div>
            </div>           
      </div>
  </div>
    </div>
    <section id="main-spread">
        <div class="containerz2">
            <article id="main-col">
                <h1 class="page-title">About Us</h1>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis placeat animi dicta laborum vel rerum eum distinctio ab veritatis? Sequi eius minima neque non, molestias molestiae assumenda eveniet excepturi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis placeat animi dicta laborum vel rerum eum distinctio ab veritatis? Sequi eius minima neque non, molestias molestiae assumenda eveniet excepturi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis placeat animi dicta laborum vel rerum eum distinctio ab veritatis? Sequi eius minima neque non, molestias molestiae assumenda eveniet excepturi.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis placeat animi dicta laborum vel rerum eum distinctio ab veritatis? Sequi eius minima neque non, molestias molestiae assumenda eveniet excepturi.</p>
                              
            </article>
            <aside id="sidebar">
                <div class="dark">
                    <h3>Expertise</h3>
                    <img src="/img/SoftwareDev.jpg" class="responsive-img">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta tempora qui deleniti quos, voluptates, dignissimos rerum ex deserunt numquam earum quasi impedit atque cum similique quaerat corrupti non placeat quibusdam.</p>
                </div>
            </aside>
        </div>
    </section>
    <h1 id="contact">Contact Us</h1>
    <section id="newsletter">
        <div class="container">
          
            <div class="row form">
                <form id="contact-form" class="col s12" method="POST" action="/">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Placeholder" id="first_name" name="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name" name="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" name="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" name="message" class="materialize-textarea black-text"></textarea>
                        <label for="textarea1">Message</label>
                    </div>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Send<i class="material-icons right">send</i>
                  </button>
                </form>
            </div>
        </div>
    
    </section>

    <div class="social-media">
      <ul>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://web.facebook.com/SkyIT-157943760991439" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/skyit_ltd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <a href="#" class="to-top"><i class="fas fa-angle-double-up"></i></a>

    <footer id="index">
      <p>skyIT Ventures Limited, Copyright &copy; 2020</p>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/skyit.js"></script>
</body>
</html>