<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SkYIT Official Page">
    <meta name="keywords" content="Web Design, IT services with professional touch">
    <meta name="author" content="Ajiozi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyIT | Welcome to About</title>

    <link rel="shortcut icon" type="image/jpg" href="img/logo3.png"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://kit.fontawesome.com/5aa9262777.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen, projection" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="containerz">
            <div id="branding">
            <h1>
                <a href="/"><img src="/img/logo3.png"> <span class="highlight">SKYIT </span></a>
            </h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>  
                    <li><a href="about">About</a></li>  
                    <li class="current"><a href="services">services</a></li>  
                    <li><a href="gallery">Gallery</a></li>  
                </ul>
            </nav>
        </div>
    </header>
    <div class="clearance"></div>
    <div class="carousel banner-area">
        <a class="carousel-item" href="#one!"><img src="/img/office.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="/img/office2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="/img/office3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="/img/office4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="/img/office5.jpg"></a>
    </div><br>

    <div id="page">
        <h1>Our Services</h1>
    </div>

    <section id="newsletter">
        <div class="container">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><i class=" material-icons yellow">arrow_drop_down</i>Biometric Services</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Biometrics</h3>
                            <p>We deploy custom biometric devices that meet organisational need. We deploy and service Finger- print scanning system for staff clock-in and clock-out for  attendance, and access control purposes.  We give our clients oriental service, and our technical team are always available to help you.  As part of our commitment to help customer scale, we are available for quick reach.</p> 
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange">arrow_drop_down</i>Security Systems</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>CCTV and Electric Fence</h3>
                            <p>Whether your goal is reliable intrusion detection, seamless integration or ease of deployment,<br> SkyIT Ventures offer best-in-class performance to handle the most challenging perimeter protection applications.<br>
                            We sell and install Security systems, which includes, CCTV, Electric Fence, Car Security systems amongst others.  Our supply and installation chain and services are professionally driven.  You would be happy doing business with us.
                            </p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons brown">arrow_drop_down</i>Professional Training</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Training Services</h3>
                            <p> Do you want to empower staff with the knowledge and skills to thrive?<br><br>

                                Do you want to create an inspiring working environment?<br><br>
                                
                                Do you want to learn from some of the best brains in Nigeria?<br><br>
                                
                                If your organisation is in need of professional training or business consultancy, SkyIT can help. From our  office here in Nigeria, Our Business Training & Consulting, and Technical training and consultancy is the answer. We help to sharpen the skills of individuals and companies from all kinds of industries and from every part of the world. We train all categories of workforce with state of the art facilities. We provide professional training that span across all</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                 <li>
                    <div class="collapsible-header"><i class="material-icons teal">arrow_drop_down</i>Networking</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Computer Networking</h3>
                            <p>Any business is only as productive as its weakest link – don’t let that link be your company network. An unreliable (or, even worse, broken) intercompany network can cripple a business while directly affecting the bottom line. Ensuring your network makes sense for your business while maintaining proper connectivity and permissions is what our certified IT professionals do best through our computer network services. SkyIT has the knowledge and experience gained from working with some of the largest companies to make your network work for you.<br><br>
                            Whether you want to start from scratch or have an existing networking solution, SkyIT takes pride in its implementations. Our certified IT professionals have done consulting work for companies of all sizes and we would be more than happy to optimize your current network to help prevent wasted time, frustrated employees, and lost revenue.</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>Building Information Management</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Building Information Management</h3>
                            <p>
                                We integrate IT skill to improve home services, right from planning stage to construction, and commisioning stage. we deploy smart systems that improves security, home autumation and control, to information gathering. As such, we give our clients a relaxed atmosphere and comfort throughout the entire building phases. 
                            <p>
                                We design building plan and help client manage building services.  We also build for clients and help make perfect furnishing. Our designs add art, creativity and beauty to give you a sense of balance and beauty in your space.
                            </p>                            
                            <p>
                                Find your next dream home ranging from duplexes to terraces in any location of choice in Nigeria.
                            </p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons blue">arrow_drop_down</i>Hotel Management</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>We digitalize all hotel guests</h3>
                            <p>We believe the best hotel stays occur when booking, check-in, payment, hotel experience and personal service come together seamlessly. Through our API, we transform all hotel guests into mobile guests.  We help hotels build custom apps as it matches each scenario</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>Car Tracking Systems</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Car Tracking Systems</h3>
                            <p>We are commited to providing reliable and affordable vehicle tracking services to Nigerians and we are proud to have protected thousands of vehicles so far in the last fifteen years. We are the number one rated in customers' satisfactions in car tracking industry in Nigeria. You can be assured we will be there when you need us the most. Our pricing options are competitive and pocket friendly.</p>
                            <p>
                                <ul>
                                    <li>
                                        <p>Protect your vehicles with the  latest, advanced and effective technology and experience peace of mind by knowing the real time location of your vehicle at all time.</p>
                                    </li>
                                    <li>
                                        <p>Listen to voice conversation going on in your vehicle remotely from your phone in real time and plan your next move irrespective of the distance.</p>
                                    </li>
                                    <li>
                                        <p>Take 100% control of your car at all time. Demobilize and mobilize your car engine from anywhere you are when neccessary.</p>
                                    </li>
                                </ul>
                            </p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>Solar System Installation</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Solar System Installation</h3>
                            <p>With vast experience and an excellent track record, we have positioned ourselves as the ideal solution for all residential and commercial development projects in Renewable Energy – specifically Solar and Inverter, Backup Systems, Small Hydro Power, Biomass energy systems, Waste to energy plant, Land-Fill Gas Plants and Wind Energy.<br><br>
                            As Nigeria continues to desire steady and uninterrupted power supply, there is the need to go beyond the construction of gas power plants and also look into alternative technologies especially renewable energy sources to power rural homes which constitute higher percentage of the Nigerian population (about 60%).</p>
                                
                            <p>We in conjunction with global partners help commercial users worldwide to show their commitment to eliminating carbon emissions and controlling their electricity bills.  We provide other solar applications like solar water heaters, solar water pumps, solar street-lights, solar garden lights etc.</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>Access Control</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Access Control</h3>
                            <p>When it comes to protecting your home, business as well as the building’s occupants, we offer access control, which enables you to control who has access to your building. We give you secure, convenient, flexible and cost-effective way of controlling who has access to your building and when access is allowed.</p>
                            <p>We help businesses procure and install access control that scales to the changing needs of their businesses, with flexible solutions that range from our Access Control Manager (ACM) enterprise system to our entry-level ACM Embedded Controller™ system. All SkyIT access control systems have remote-based capability, threrfore delivering a ready-to-deploy solution that provides the performance you expect from a technology-driven security company.</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>Embedded Systems</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Embedded Systems</h3>
                            <p>We are commited to providing reliable and affordable vehicle tracking services to Nigerians and we are proud to have protected thousands of vehicles so far in the last fourteen years. We are the number one rated in customers' satisfactions in car tracking industry in Nigeria.</p>
                            <p>As an embedded software development company, we build embedded apps, firmware, middleware, device drivers, human-machine interfaces (HMIs), and complex embedded software solutions for enterprise-grade IoT systems.</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>Project Management</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Project Management</h3>
                            <p>We undertake Project Management Services that relate to ICT. Development of project precudures, planning,  execution, regulation, and closure of project operations.  Our project team provides you with quality services in accordance with client's budget and witin the delivery window..</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>e-Commerce</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>e-Commerce</h3>
                            <p>Our e-commerce department department provides you with incomparable quality of products and services you cannot afford to miss.  These products and services range form crypto exchange, Forex Trading, trianing, mobile money services etc. amongst others</p>
                            <p>
                                <h5>Contact us today by using the get quote below</h5>
                            </p>
                        </span>
                    <div>
                </li>
            </ul>
        </div>
      
    </section>
    <section id="main">
        <div class="service-container">
            <article id="main-col">
                <ul id="services">
                    <li>
                        <h3>Embedded Systems</h3>
                        <p>We are commited to providing reliable and affordable vehicle tracking services to Nigerians and we are proud to have protected thousands of vehicles so far in the last fourteen years. We are the number one rated in customers' satisfactions in car tracking industry in Nigeria.</p>
                        <p>
                            <h5>Contact us today by using the get quote below</h5>
                        </p>
                    </li>
                    <li>
                        <h3>Project Management</h3>
                        <p>We undertake Project Management Services that relate to ICT. Development of project precudures, planning,  execution, regulation, and closure of project operations.  Our project team provides you with quality services in accordance with client's budget and witin the delivery window.</p>
                        <p>
                            <h5>Contact us today by using the get quote below</h5>
                        </p>
                    </li>
                    <li>
                        <h3>e-Commerce</h3>
                        <p>Our e-commerce department department provides you with incomparable quality of products and services you cannot afford to miss.  These products and services range form crypto exchange, Forex Trading, trianing, mobile money services etc. amongst others.</p>
                        <p>
                            <h5>Contact us today by using the get quote below</h5>
                        </p>
                    </li>

                </ul>
                <h5>Subscribe to our Newsletter</h5>
                <div id="subscribe">
                    <form>
                        <input type="text" placeholder="John Doe">
                        <label for="email">Email</label>
                        <input type="email" placeholder="John@gmail.com">
                        <button type="submit" class="button_1">Subscribe</button>
                    </form>
                </div>
            </article>
            <aside id="sidebar" class="quote">
                <div class="dark">
                <h3>Get Quote</h3>
                 <form>
                     <div>
                        <label> Name</label><br>
                        <input type="text" placeholder="Mark David">
                    </div>
                    <div>
                        <label> Email</label><br>
                        <input type="email" placeholder="mark@gmail.com">
                    </div>
                    <div>
                        <label> Message</label><br>
                        <textarea placeholder="Message"></textarea>
                    </div>
                    <button class="button_1" type="submit">send</button>
                 </form>
            </div>
            </aside>
        </div>
    </section>
   

    <div class="social-media">
        <ul>
            <li><a href="https://www.twitter.com/skyIT/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://web.facebook.com/SkyIT-157943760991439" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/skyit_ltd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li>
            <a href="whatsapp://send?text=Hi, I'd love to know more about your service, I am reaching you from your official webpage!&phone=+2349074444140" target="_blank">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>
      </ul>
       </div>

    <a href="#" class="to-top"><i class="fas fa-angle-double-up"></i></a>
  
    <footer id="service" class="page-footer light-blue darken-1">
        <div class="container">
          <div class="row">
            <div class="sep"></div>
            <div class="col l6 s12">
              <h5 class="yellow-text">Visit us:</h5><br>
              <p class="grey-text text-lighten-4">
                  <h6 class="black-text">Head Office</h6>
                  <p>#33 Hospital/Jakpa Road, 
                      <p>Ekpan, Delta State,</p>
                      <p>Nigeria.</p>
                    </p>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="yellow-text">Call Lines</h5><br>
              <ul><br>
                <li class="white-text">+234-9135396292</li>
                <li class="white-text">+234-9074444140</li>
                <li class="white-text">+234-8030689585</li>
                <li class="white-text">+234-8064107055</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright center">
          <div class="container">
            skyIT Ventures Limited, Copyright &copy; 1995 - 2020
          </div>
        </div>
      </footer>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/skyit.js"></script> 
</body>
</html>