<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="SkYIT Official Page">
    <meta name="keywords" content="Web Design, IT services with professional touch">
    <meta name="author" content="Ajiozi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyIT | Welcome to About</title>

    <link rel="shortcut icon" type="image/jpg" href="img/logo3.png"/>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <script src="https://kit.fontawesome.com/5aa9262777.js" crossorigin="anonymous"></script>

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen, projection" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="containerz">
            <div id="branding">
            <h1>
                <a href="/"><img src="/img/logo3.png"> <span class="highlight">SKYIT </span></a>
            </h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>  
                    <li><a href="about">About</a></li>  
                    <li class="current"><a href="services">services</a></li>  
                    <li><a href="gallery">Gallery</a></li>  
                </ul>
            </nav>
        </div>
    </header>
    <div class="clearance"></div>
    <div class="carousel banner-area">
        <a class="carousel-item" href="#one!"><img src="/img/office.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="/img/office2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="/img/office3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="/img/office4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="/img/office5.jpg"></a>
    </div><br>

    <div id="page">
        <h1>Our Services</h1>
    </div>

    <section id="newsletter">
        <div class="container">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><i class=" material-icons yellow">arrow_drop_down</i>Security Services</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Biometrics</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                            <p>Pricing: $1,000 - $3,000</p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange">arrow_drop_down</i>Security Systems</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>CCTV and Electric Fence</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                            <p>Pricing: $1,000 - $3,000</p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons brown">arrow_drop_down</i>Professional Training</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Training Services</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                            <p>Pricing: $1,000 - $3,000</p>
                        </span>
                    <div>
                </li>
                 <li>
                    <div class="collapsible-header"><i class="material-icons teal">arrow_drop_down</i>Networking</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Computer Networking</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                            <p>Pricing: $1,000 - $3,000</p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons grey">arrow_drop_down</i>Building Information Management</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Building Information Management</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                            <p>Pricing: $1,000 - $3,000</p>
                        </span>
                    <div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons blue">arrow_drop_down</i>Hotel Management</div>
                    <div class="collapsible-body">
                        <span> 
                            <h3>Hotel Management System</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                            <p>Pricing: $1,000 - $3,000</p>
                        </span>
                    <div>
                </li>
            </ul>
        </div>
      
    </section>
    <section id="main">
        <div class="service-container">
            <article id="main-col">
                <ul id="services">
                    <li>
                        <h3>Website Design</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                        <p>Pricing: $1,000 - $3,000</p>
                    </li>
                    <li>
                        <h3>Website Design</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                        <p>Pricing: $250 per month</p>
                    </li>
                    <li>
                        <h3>Website Hosting</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo dolore saepe doloremque, aliquam eaque, at porro hic suscipit asperiores impedit ab blanditiis soluta animi ullam aspernatur ratione ipsam quibusdam labore!</p>
                        <p>Pricing: $25 per month</p>
                    </li>

                </ul>
                <h5>Subscribe to our Newsletter</h5>
                <div id="subscribe">
                    <form>
                        <input type="text" placeholder="John Doe">
                        <label for="email">Email</label>
                        <input type="email" placeholder="John@gmail.com">
                        <button type="submit" class="button_1">Subscribe</button>
                    </form>
                </div>
            </article>
            <aside id="sidebar" class="quote">
                <div class="dark">
                <h3>Get a Quote</h3>
                 <form>
                     <div>
                        <label> Name</label><br>
                        <input type="text" placeholder="Mark David">
                    </div>
                    <div>
                        <label> Email</label><br>
                        <input type="email" placeholder="mark@gmail.com">
                    </div>
                    <div>
                        <label> Message</label><br>
                        <textarea placeholder="Message"></textarea>
                    </div>
                    <button class="button_1" type="submit">send</button>
                 </form>
            </div>
            </aside>
        </div>
    </section>
   

    <div class="social-media">
        <ul>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://web.facebook.com/SkyIT-157943760991439" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/skyit_ltd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      </ul>
       </div>

    <a href="#" class="to-top"><i class="fas fa-angle-double-up"></i></a>
    <footer id="service">
        <p>skyIT Ventures, Copyright &copy; 2020</p>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/skyit.js"></script> 
</body>
</html>